$icon-font-path: '../fonts/';
$visual-grid: true !default;
// Change the grid settings
$column: 90px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 1200px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);



// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "bower_components/material-colors/dist/colors.scss";
// endbower
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$yellow: $md-amber-500;

@import "mixins/mixins";
@import "plugins/video";

@import "base";

@import "overview";
@import "chapters";
