

// html,
// body {
// 	font-size: 100%;
// 	margin: 0;
// 	padding: 0;
// 	height: 100%;
// }
// html {
//   overflow-x: hidden;
// 	overflow-y: scroll;
// }
//
// /* Main styles */
// body {
// 	font-family: "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
// 	color: #CECECE;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
//   background-color: rgb(25, 24, 29);
// }
//
// a {
// 	text-decoration: none;
// 	color: #5C5EDC;
// 	outline: none;
// }
//
// a:focus {
// 	color: #ddd;
// }
//
// a:hover {
// 	color: #fff;
// }
//
// .page-wrap {
// }
//
// .icon {
// 	// font-family: 'feather';
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;
//
// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }
//
// .banner {
//   position: fixed;
//   top: 0;
//   width: 100vw;
//   background: #000;
//   display: block;
//   z-index: 999;
// }
//
// .nav>li {
//     position: relative;
//     display: inline-flex;
// }
//
//
// @import "https://cdnjs.cloudflare.com/ajax/libs/icono/1.3.0/icono.min.css";
// @import "http://fonts.googleapis.com/css?family=Lato:400,700";
//
// html,
// body {
// 	font-size: 100%;
// 	margin: 0;
// 	padding: 0;
// 	height: 100%;
// }
// html {
//   overflow-x: hidden;
// 	overflow-y: scroll;
// }
//
// /* Main styles */
// body {
// 	font-family: "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
// 	color: #CECECE;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
//   background-color: rgb(25, 24, 29);
// }
//
// a {
// 	text-decoration: none;
// 	color: #5C5EDC;
// 	outline: none;
// }
//
// a:focus {
// 	color: #ddd;
// }
//
// a:hover {
// 	color: #fff;
// }
//
// .page-wrap {
// }
//
// .icon {
// 	// font-family: 'feather';
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;
//
// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }
//
// .banner {
//   position: fixed;
//   top: 0;
//   width: 100vw;
//   background: #000;
//   display: block;
//   z-index: 999;
// }
//
// .nav>li {
//     position: relative;
//     display: inline-flex;
// }

@import "https://cdnjs.cloudflare.com/ajax/libs/icono/1.3.0/icono.min.css";
@import "http://fonts.googleapis.com/css?family=Lato:400,700";

html,
body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}
html {
  overflow-x: hidden;
	overflow-y: scroll;
}

/* Main styles */
body {
	font-family: "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #CECECE;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: rgb(25, 24, 29);
}

a {
	text-decoration: none;
	color: #5C5EDC;
	outline: none;
}

a:focus {
	color: #ddd;
}

a:hover {
	color: #fff;
}

.page-wrap {
}

.icon {
	// font-family: 'feather';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.banner {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #000;
  display: block;
  z-index: 999;
}

.nav>li {
    position: relative;
    display: inline-flex;
}

//
// =Global
// --------------------------------------------------

$font-family-sans-serif-custom: "Lato", sans-serif !default;

// .bg-inverse {
//   a,
//   a:focus,
//   a:hover {
//     color: #fff;
//   }
// }
//
// .bg-inverse-custom {
//   margin-top: 1.1875rem;
//   background-color: transparent;
// }
//
// .bg-white {
//   background-color: #fff;
// }
//
// .section-intro,
// .section-features,
// .section-pricing,
// .section-testimonials,
// .section-text,
// .section-signup {
//   padding-top: 2.8125rem;
//
//   @include media-breakpoint-up(md) {
//     padding-top: 5.625rem;
//   }
// }
//
// .section-features,
// .section-pricing,
// .section-text,
// .section-news,
// .section-signup {
//   padding-bottom: 2.8125rem;
//
//   @include media-breakpoint-up(md) {
//     padding-bottom: 5.625rem;
//   }
// }
//
// @include media-breakpoint-down(sm) {
//   .p-y-lg {
//     padding-top: ($spacer-y * .5) !important;
//     padding-bottom: ($spacer-y * .5) !important;
//   }
// }


//
// =Helpers
// --------------------------------------------------

.textselect-off {
  user-select: none;
}

.hidden-overflow {
  overflow: hidden;
}

.stacking-top {
  position: relative;
  z-index: 10;
}

//
// =Waypoint animations
//

.wp {
  visibility: hidden;
}

.wp-2 {
  animation-delay: 0.1s;
}

.wp-3 {
  animation-delay: 0.2s;
}

.wp-5, .wp-6 {
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.wp-8 {
  animation-delay: 0.2s;
}

.wp.animated {
  visibility: visible;
}
