{% extends "layouts/chapters.njk" %}



{% block content %}



<!-- HTML markup for the section right below this code block -->
<div class="wrap">

  <header id="intro" class="header--chapter">
    <hgroup>
      <h1>Chapter 1: <span>What it is.</span></h1>
    </hgroup>
  </header>

  <aside class="sidebar">
    <nav class="anchor-nav" role="navigation">
      <a href="#intro" id="intro-anchor">Intro</a>
      <a href="#theme-1" id="anchor1">Section 1</a>
      <a href="#theme-2" id="anchor2">Section 2</a>
      <a href="#theme-3" id="anchor3">Section 3</a>
    </nav>
  </aside>


  <main class="main" role="main">
    {% include "includes/chapters/ch1_th1.html" %}
    {% include "includes/chapters/ch1_th2.html" %}
    {% include "includes/chapters/ch1_th3.html" %}
  </main>

</div> <!-- .wrapper -->



{% endblock %}
