{% extends "layouts/default.njk" %}
{% block content %}

  <div class="row">
    <div class="gallery">
      <div class="gallery-cell">
        <div class="chapter-card">
          <div data-offset="-3" class="layer-1"><img src="https://unsplash.it/330/250"/></div>
          <div data-offset="3" class="layer-2">
            <h2><a href="chapter-1.html">What it is</a></h2>
          </div>
          <div class="layer-4">
            <div class="skewed">
              <p>A short introduction explaining what this chapter is all about.</p>
            </div>
          </div>
          <div data-offset="6" class="layer-3">
            <div class="ribbon-1">
              <h3>1</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="chapter-card">
          <div data-offset="-3" class="layer-1"><img src="https://unsplash.it/330/250"/></div>
          <div data-offset="3" class="layer-2">
            <h2>What it is          </h2>
          </div>
          <div class="layer-4">
            <div class="skewed">
              <p>A short introduction explaining what this chapter is all about.</p>
            </div>
          </div>
          <div data-offset="6" class="layer-3">
            <div class="ribbon-1">
              <h3>1</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="chapter-card">
          <div data-offset="-3" class="layer-1"><img src="https://unsplash.it/330/250"/></div>
          <div data-offset="3" class="layer-2">
            <h2>What it is          </h2>
          </div>
          <div class="layer-4">
            <div class="skewed">
              <p>A short introduction explaining what this chapter is all about.</p>
            </div>
          </div>
          <div data-offset="6" class="layer-3">
            <div class="ribbon-1">
              <h3>1</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="chapter-card">
          <div data-offset="-3" class="layer-1"><img src="https://unsplash.it/330/250"/></div>
          <div data-offset="3" class="layer-2">
            <h2>What it is          </h2>
          </div>
          <div class="layer-4">
            <div class="skewed">
              <p>A short introduction explaining what this chapter is all about.</p>
            </div>
          </div>
          <div data-offset="6" class="layer-3">
            <div class="ribbon-1">
              <h3>1</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="chapter-card">
          <div data-offset="-3" class="layer-1"><img src="https://unsplash.it/330/250"/></div>
          <div data-offset="3" class="layer-2">
            <h2>What it is          </h2>
          </div>
          <div class="layer-4">
            <div class="skewed">
              <p>A short introduction explaining what this chapter is all about.</p>
            </div>
          </div>
          <div data-offset="6" class="layer-3">
            <div class="ribbon-1">
              <h3>1</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
