// .banner .nav li {
//   @extend .nav-item;
// }
// .banner .nav a {
//   @extend .nav-link;
// }

/* --------------------------------

Stretchy Nav style - common to:
 - basic navigation
 - add-content navigation
 - edit-content navigation

-------------------------------- */
// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// colors

$color-1: #003c5d; // Astronaut Blue
$color-2: #9acd91; // De York
$color-3: #ffffff; // White
$color-4: #0a9581; // Gossamer

.cd-stretchy-nav {
	position: fixed;
	z-index: 2;
	top: 40px;
	left: 5%;

	.stretchy-nav-bg {
		/* this is the stretching navigation background */
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background: $color-2;
		box-shadow: 0 1px 4px rgba(#000, .2);
		@include transition(height .2s, box-shadow .2s);
	}

	&.nav-is-visible .stretchy-nav-bg {
		height: 100%;
		box-shadow: 0 6px 30px rgba(#000, .2);
	}
}

.cd-nav-trigger {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	/* replace text with image */
	overflow: hidden;
	white-space: nowrap;
	color: transparent;

	span, span::after, span::before {
		/* this is the hamburger icon */
		position: absolute;
		width: 16px;
		height: 2px;
		background-color: $color-3;
	}

	span {
		/* middle line of the hamburger icon */
		@include center;
		@include transition(background-color .2s);
	}

	span::after, span::before {
		/* top and bottom lines of the hamburger icon */
		content: '';
		top: 0;
		left: 0;
		@include backface-visibility(hidden);
		@include transition(transform .2s);
	}

	span::before {
		@include transform(translateY(-6px));
	}

	span::after {
		@include transform(translateY(6px));
	}

	.no-touch &:hover ~ .stretchy-nav-bg {
		box-shadow: 0 6px 30px rgba(#000, .2);
	}

	.nav-is-visible & {

		span {
			background-color: transparent;
		}

		span::before {
			@include transform(rotate(-45deg));
		}

		span::after {
			@include transform(rotate(45deg));
		}
	}
}

.cd-stretchy-nav ul {
	position: relative;
	z-index: 2;
	padding: 60px 0 0;
	visibility: hidden;
	@include transition(visibility .3s);
	text-align: left;

	a {
		position: relative;
		display: block;
		height: 50px;
		line-height: 50px;
		padding: 0 calc(1em + 60px) 0 1em;
		color: rgba($color-3, .7);
		font-size: 1.4rem;
		@include transition(color .2s);

		&::after {
			/* navigation item icons */
			content: '';
			position: absolute;
			height: 16px;
			width: 16px;
			left: 22px;
			top: 50%;
			@include transform(translateY(-50%) scale(0));
			opacity: .6;
			background: url(../img/cd-sprite-1.svg) no-repeat 0 0;
		}

		&::before {
			/* line visible next to the active navigation item */
			content: '';
			position: absolute;
			width: 3px;
			height: 16px;
			top: 50%;
			left: 60px;
			@include transform(translateX(3px) translateY(-50%) scaleY(0));
			background-color: $color-4;
		}
	}

	li:first-of-type a::after {
		/* change custom icon using image sprites */
		background-position: -32px 0;
	}

	li:nth-of-type(2) a::after {
		background-position: -64px 0;
	}

	li:nth-of-type(3) a::after {
		background-position: -48px 0;
	}

	li:nth-of-type(4) a::after {
		background-position: 0 0;
	}

	li:nth-of-type(5) a::after {
		background-position: -16px 0;
	}

	span {
		/* navigation item labels */
		display: block;
		opacity: 0;
		transform: translateX(-25px);
	}
}

.cd-stretchy-nav.nav-is-visible ul {
	visibility: visible;

	a::after {
		/* navigation item icons */
		@include transform(translateY(-50%) scale(1));
		@include animation(scaleIn .15s backwards);
		@include transition(opacity .2s);
	}

	a.active {
		color: $color-3;

		&::after {
			opacity: 1;
		}

		&::before {
			@include transform(translateX(3px) translateY(-50%) scaleY(1));
			@include transition(transform .15s .3s);
		}
	}

	span {
		opacity: 1;
		@include transform(translateX(0));
		@include animation(slideIn .15s backwards);
		@include transition(transform .2s);
	}

	.no-touch & a:hover {
		color: $color-3;

		&::after {
			opacity: 1;
		}

		span {
			@include transform(translateX(-5px));
		}
	}

	li:first-of-type a::after,
	li:first-of-type span {
		@include animation-delay(.05s);
	}

	li:nth-of-type(2) a::after,
	li:nth-of-type(2) span {
		@include animation-delay(.1s);
	}

	li:nth-of-type(3) a::after,
	li:nth-of-type(3) span {
		@include animation-delay(.15s);
	}

	li:nth-of-type(4) a::after,
	li:nth-of-type(4) span {
		@include animation-delay(.2s);
	}

	li:nth-of-type(5) a::after,
	li:nth-of-type(5) span {
		@include animation-delay(.25s);
	}
}


//
// =Navbar
// --------------------------------------------------

// .navbar-toggler {
//   padding: 0;
//   margin-top: -.3rem;
//   margin-left: .75rem;
//   font-size: 2rem;
//   border: 0;
//   border-radius: 0;
//   &:focus {
//     outline: 0;
//   }
// }
//
// .bg-inverse .navbar-toggler {
//   color: rgba(255, 255, 255, .75);
//   &:focus,
//   &:hover {
//     color: #fff;
//   }
// }
//
// .navbar-toggler-custom {
//   margin-top: -.05rem;
//   font-size: 1.55rem;
// }
//
// .navbar {
//   padding: 1.65rem 0 .8rem;
//   font-size: .9375rem;
//   font-weight: 600;
//   line-height: 1.2;
//
//   @include media-breakpoint-down(sm) {
//     padding-top: 1.5625rem;
//   }
// }
//
// .navbar-toggleable-custom {
//   @include media-breakpoint-down(sm) {
//     clear: both;
//   }
// }
//
// #collapsingNavbar,
// #collapsingNavbarInverse {
//   @include media-breakpoint-up(md) {
//     display: block !important;
//   }
// }
//
// @include media-breakpoint-down(sm) {
//   .navbar-nav {
//     .nav-item + .nav-item {
//       margin-left: 2rem;
//
//       @include media-breakpoint-down(sm) {
//         margin-left: 0;
//       }
//     }
//   }
// }
//
// @include media-breakpoint-down(sm) {
//   .navbar-nav {
//     float: none !important;
//     width: 100%;
//     .nav-item {
//       display: block;
//       float: none;
//       margin: 0 0 1px;
//       text-align: right;
//       background-color: #fff;
//     }
//   }
//   .navbar-dark .navbar-nav {
//     .nav-item {
//       background-color: transparent;
//     }
//     .nav-link {
//       display: block;
//       color: darken(#fff, 20%);
//       &:focus,
//       &:hover {
//         color: #fff;
//       }
//     }
//     .active .nav-link {
//       color: #fff;
//     }
//   }
//   .bg-inverse-custom .navbar-nav {
//     .nav-item {
//       background-color: #fff;
//     }
//     .nav-link {
//       padding: 1rem;
//       color: lighten($gray, 20%);
//       &:focus,
//       &:hover {
//         color: $gray;
//
//       }
//     }
//     .active > .nav-link {
//       color: $brand-primary !important;
//     }
//   }
// }
//
// .navbar-fixed-top {
//   position: absolute;
// }
//
// .navbar-brand {
//   padding: 0;
//   margin: -.625rem 0 0;
// }
//
// .icon-logo {
//   font-size: 45px;
// }
//
// .navbar-nav .active > .nav-link {
//   @include media-breakpoint-down(sm) {
//     color: $brand-primary;
//   }
//   @include media-breakpoint-up(md) {
//     box-shadow: 0 2px 0 rgba(66, 71, 83, .2);
//   }
// }
//
// .navbar-dark .navbar-nav .active > .nav-link {
//   @include media-breakpoint-up(md) {
//     box-shadow: 0 2px 0 rgba(255, 255, 255, .2);
//   }
// }
//
// .navbar-divider {
//   width: 5px;
//   height: 5px;
//   padding: 0;
//   margin: .8125rem 1.5rem .75rem;
//   background: rgba(66,71,83,.2);
//   border-radius: 50%;
//   .navbar-dark & {
//     background: rgba(255, 255, 255, .2);
//   }
// }
//
// .dropdown.open .icon-search:before {
//   content: "\e612"; // close search icon
// }
//
// .dropdown-menu {
//   padding: 1.5rem 1.75rem;
//   margin-top: 0;
//   border: 0 none;
//   box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
//   .media {
//     padding-bottom: 1.25rem;
//     margin-bottom: 1.25rem;
//     color: $gray;
//     border-bottom: 1px solid #e9eaec;
//   }
//   .text-muted {
//     color: rgba(66,71,83,.4) !important;
//   }
// }
//
// .dropdown-menu-animated {
//   display: block;
//   visibility: hidden;
//   opacity: 0;
//   padding: 1.5rem 1.75rem;
//   margin-top: 0;
//   border: 0 none;
//   box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
//   transform-origin: 100% 0%;
//   transform: scale3d(0.95, 0.95, 1) translate3d(0, -15px, 0);
//   transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
//   transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
// }
//
// .open {
//   > .dropdown-menu-animated {
//     visibility: visible;
//     opacity: 1;
//     transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
//     transition: opacity 0.5s, transform 0.5s;
//     transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//   }
// }
//
// .dropdown-menu-custom {
//   overflow-y: auto;
//   background-color: #fff;
//   border: 0 none;
//   .media {
//     margin-bottom: 1.5rem;
//     color: $gray;
//   }
//   .text-muted {
//     color: rgba(66,71,83,.4) !important;
//   }
// }
//
// .dropdown-item {
//   padding: 0 0 .625rem;
//   font-size: .8125rem;
//   font-weight: 600;
//   line-height: 1.1538;
//   & + & {
//     padding-top: .625rem;
//   }
//   &:hover,
//   &:focus {
//     background-color: transparent;
//   }
// }
//
// .bg-inverse .dropdown-item {
//   color: $gray;
//   &:focus,
//   &:hover {
//     color: $brand-primary;
//     background-color: transparent;
//   }
// }
//
// h5 {
//   font-weight: 600;
//   line-height: 1.2;
// }
//
// h6 {
//   font-weight: 300;
//   line-height: 1;
// }
//
// .btn-circle {
//   display: block;
//   width: 2.5rem;
//   height: 2.5rem;
//   padding: 0;
//   font-size: 1.25rem;
//   line-height: 2.2;
//   color: #fff;
//   text-align: center;
//   border-radius: 50%;
//   opacity: .8;
//   &:focus,
//   &:hover {
//     color: #fff;
//
//     @include gradient-directional(#663fb5, #663fb5);
//   }
// }
//
// .has-gradient {
//   @include gradient-directional(#663fb5, #2b8be3);
// }
//
// .dropdown-menu-search {
//   padding: 0;
//   margin: 0;
//   box-shadow: none;
//
//   @include media-breakpoint-up(sm) {
//     position: absolute;
//     top: .7rem;
//     right: 2rem;
//     min-width: 22rem;
//     background-color: transparent;
//   }
// }
//
// .navbar-form .form-control {
//   padding: 1rem 0 1rem 15px;
//   font-size: .9375rem;
//   font-weight: 600;
//   line-height: 1.2;
//   background: transparent;
//   border: 0;
//
//   @include media-breakpoint-up(sm) {
//     padding: .425rem;
//     font-size: .9375rem;
//     border-bottom: 2px solid rgba(66, 71, 83, .2);
//     border-radius: 0;
//     &::placeholder {
//       color: $gray;
//     }
//   }
//   &:hover {
//     cursor: pointer;
//   }
//   &:focus {
//     box-shadow: none;
//   }
// }
//
// .bg-inverse .navbar-form .form-control {
//   @include media-breakpoint-up(sm) {
//     color: #fff;
//     border-bottom: 2px solid rgba(255,255,255,.2);
//     &::placeholder {
//       color: #fff;
//     }
//   }
// }
//
// .icon-search {
//   display: block;
//   margin-top: .5rem;
//   font-size: 1.25rem;
// }
//
// .dropdown-toggle {
//   &:hover {
//     cursor: pointer;
//   }
//   &:after {
//     display: none; // no BS caret
//   }
//   img {
//     margin-right: .5rem;
//     box-shadow: 0 0 0 4px $gray;
//   }
//   span {
//     vertical-align: middle;
//   }
// }
//
// .bg-inverse .dropdown-toggle {
//   img {
//     box-shadow: 0 0 0 4px #fff;
//   }
// }
//
// .nav-dropdown-search {
//   @include media-breakpoint-up(sm) {
//     margin-top: -.7rem;
//   }
// }
//
// .nav-dropdown-user {
//   @include media-breakpoint-up(sm) {
//     margin-top: -.8rem;
//   }
// }
//
// .dropdown-menu-user {
//   top: 138%;
// }
//
// // Scroll Nav
// @include media-breakpoint-up(md) {
//   .scroll-nav {
//     position: fixed;
//     top: 50%;
//     right: 5%;
//     z-index: 2;
//     transform: translateY(-50%);
//     a {
//       width: 17px;
//       height: 17px;
//       color: #fff;
//       background-color: #fff;
//       border-radius: 50%;
//       &.active {
//         border: 4px solid rgba(255,255,255,.25);
//       }
//     }
//   }
// }
//
//
// //
// // =Header
// // --------------------------------------------------
//
// html,
// body {
//   width: 100%;
//   height: 100%;
// }
//
// $custom-min-width: map-get($grid-breakpoints, 'md');
// $custom-min-height: 37.5em; // 600
//
// .jumbotron {
//   padding-top: 7rem;
//   margin-bottom: 0;
//   background: #663fb5 url(../images/img/bg-header.jpg) no-repeat center bottom;
//   background-size: cover;
//   border-radius: 0;
//
//   @include media-breakpoint-down(sm) {
//     padding-top: 6.25rem;
//   }
//   .btn {
//     padding: 1.2rem 2rem;
//   }
//   a.jumbolink {
//     opacity: 0.6;
//     transition: opacity 0.175s;
//   }
//   a.jumbolink:hover,
//   a.jumbolink:focus {
//     opacity: 1;
//   }
// }
//
// @include media-breakpoint-down(sm) {
//   .display-3 {
//     font-size: 2rem;
//   }
// }
//
// .center-vertically {
//   @media (min-width: $custom-min-width) and (min-height: $custom-min-height) {
//     display: table;
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     > div {
//       display: table-cell;
//       vertical-align: middle;
//     }
//   }
// }
//
// h2 {
//   font-weight: 300;
//   line-height: 1.5;
//
//   @include media-breakpoint-down(sm) {
//     font-size: 1.35rem;
//   }
//   em {
//     font-weight: 500;
//   }
// }
//
// .btn {
//   padding: $btn-padding-y $btn-padding-x - 1.25rem $btn-padding-y - .1rem;
//   font-size: .8125rem;
//   line-height: 1.1538;
//   text-transform: uppercase;
//   letter-spacing: .1rem;
//   > i, > span {
//     margin-right: .3rem;
//     font-size: 1.28rem;
//     line-height: 1;
//     vertical-align: -20%;
//   }
// }
//
// .bg-inverse .btn-secondary-outline {
//   &:focus,
//   &:hover {
//     background-color: rgba(255, 255, 255, .5);
//     border-color: transparent;
//   }
// }
//
// .social-share {
//   font-family: $font-family-sans-serif-custom;
//   font-size: .8125rem;
//   font-weight: 700;
//   line-height: 1.23;
//   text-align: center;
//   @media (min-width: $custom-min-width) and (min-height: $custom-min-height) {
//     position: absolute;
//     right: 0;
//     bottom: 35px;
//     left: 0;
//   }
//   a {
//     color: #fff;
//     span {
//       margin-right: .3rem;
//       font-size: .9375rem;
//       color: rgba(255, 255, 255, .5);
//     }
//     .icon-facebook {
//       margin-right: .1rem;
//     }
//     &:focus,
//     &:hover {
//       span {
//         color: #fff;
//       }
//     }
//   }
//   li {
//     padding: .1875rem .7rem;
//   }
//   li + li {
//     border-left: 1px solid rgba(255, 255, 255, .25);
//   }
// }
