// @lost flexbox flex;
#main {
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap {
  // padding-top: 0px;
  // width: 100vw;
  // height: 100vh;
}
.main {
  // lost-utility: clearfix;
  // lost-utility: edit;
}
.full--video {
  //width: 100%;
  lost-utility: clearfix;
  .rere-youtube {
    // width: 80%;
    // position: relative;
    // padding-bottom: 56.25%;
    // padding-top: 30px;
    // height: 0;
    // overflow: hidden;
    //
    // iframe {
    //   position: absolute;
    // 	top: 0; left: 0;
    // 	width: 100%;
    // 	height: 100%;
    // }
  }
}
.welcome {
  @include position(absolute, 0);
  text-align: center;
  background: rgba(22,22,22,0.7);
  color: white;
}
.btn {
  @include button;
}
.page-content {
  //padding: 10vw;
}
.scene_element {
  background: rgba(32, 47, 54, 0.8);
  padding: 3vw;
}
/*
 * ZoomSlider styles
 */
.noscroll .slider-container {
  overflow-y: hidden;
}
.slider-container {
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.slider {
  position: relative;
  z-index: 200;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 10vh;
  text-align: center;
  user-select: none;
}
.slide {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  opacity: 0;
}
.slide--current {
  position: relative;
  z-index: 100;
  visibility: visible;
  opacity: 1;
}
.slide__mover {
  position: relative;
  z-index: 100;
}
.slide__title {
  font-size: 1.75em;
  font-weight: normal;
  margin: 0 auto;
  padding: 1em 0 0;
}
.slide__title span {
  font-size: 55%;
  font-weight: bold;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #35303d;
}
.slider__nav {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
.button {
  font-size: 1.31em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 25px;
  padding: 0;
  cursor: pointer;
  color: #5c5edc;
  border: none;
  background: none;
}
.button:focus {
  outline: none;
}
.button:hover {
  color: #fff;
}
.text-hidden {
  position: absolute;
  top: 200%;
}
.button--close {
  font-size: 1.55em;
  position: absolute;
  top: 30px;
  right: 30px;
  margin: 0;
  opacity: 0;
  color: #50505a;
  transition: opacity 0.3s;
}
.content--open .button--close {
  opacity: 1;
}
/* Zoomer */
.zoomer {
  position: relative;
  height: 70vh;
  /* this is needed for IE10 so that vertical flexbox centering works */
}
.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zoomer__image {
  display: block;
  margin: 0;
  flex: none;
}
.zoomer__area,
.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}
.zoomer__area:focus {
  outline: none;
}
.zoomer__area--size-1 {
  /* Apple Watch */
  width: 96px;
  height: 118px;
}
.zoomer__area--size-2 {
  /* iPhone */
  width: 420px;
  height: 250px;
}
.zoomer__area--size-3 {
  /* MacBook */
  width: 315px;
  height: 200px;
}
.zoomer__area--size-4 {
  /* iPad */
  width: 150px;
  height: 200px;
}
.zoomer__area--size-5 {
  /* iMac */
  width: 400px;
  height: 250px;
}
.preview {
  overflow: hidden;
  background: #18191b;
  padding: 0 0 2em;
}
.preview img {
  display: block;
  border-radius: inherit;
  transform: translate3d(0,0,0);
}
.zoomer--active .preview img {
  transform: translate3d(100%,0,0);
}
.rounded {
  border-radius: 15px;
}
.rounded-right {
  border-radius: 0 15px 15px 0;
}
.preview__content {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
/* Content */
.load-content {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  background: #18191b;
  -webkit-overflow-scrolling: touch;
}
.content--open {
  left: 0;
}
.content__item {
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;
  height: 0;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em 0;
  pointer-events: none;
  opacity: 0;
  color: #fff;
  align-items: start;
}
.content__item--current {
  pointer-events: auto;
  opacity: 1;
}
.content__item--reset {
  height: auto;
}
.load-content h2 {
  font-size: 3.5em;
  font-weight: normal;
  margin: 0;
}
.load-content h3 {
  font-size: 1.95em;
  font-weight: normal;
  margin: 0.25em 0 0.5em;
  color: #685884;
}
.load-content p {
  font-size: 1.25em;
  line-height: 1.5;
}
.content__item-img {
  display: block;
  max-width: 40vw;
  max-height: 80vh;
  transform: translate3d(-200%,0,0);
  flex: none;
}
.content__item--current .content__item-img {
  transform: translate3d(-10px,0,0);
}
.content__item-inner {
  padding: 0 4vw;
  opacity: 0;
  transform: translate3d(0,50px,0);
}
.content__item--current .content__item-inner {
  opacity: 1;
  transform: translate3d(0,0,0);
}
/**************************/
/* All synced transitions */
/**************************/
.zoomer {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.zoomer.zoomer--notrans {
  transition: none;
}
.zoomer__image {
  transition: opacity 0.3s 0.3s;
}
.zoomer--active .zoomer__image {
  opacity: 0;
  transition-delay: 0s;
}
.preview img {
  transition: transform 0.6s 0.3s;
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}
.zoomer--active .preview img {
  transition: transform 0.3s;
}
.load-content {
  transition: left 0s;
}
.content__item {
  transition: opacity 0s;
}
.load-content,
.content__item {
  /* delay for content to disappear and zoomer to start transitioning back to 0 */
  transition-delay: 0.3s;
}
.content--open,
.content__item--current {
  transition: none;
}
.content__item-img {
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,1,0.8,1);
}
.content__item--current .content__item-img {
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-duration: 1s;
}
.content__item-inner {
  transition: transform 0.6s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.7,1,0.8,1), ease;
}
.content__item--current .content__item-inner {
  transition-timing-function: cubic-bezier(0.2,1,0.3,1), ease;
  transition-duration: 1.7s;
}
/* Media Queries */
@media screen and (max-width: 50em) {
  .content__item {
    display: block;
  }
  .content__item-img {
    max-width: calc(100% - 80px);
    max-height: 70vh;
  }
  .load-content h2 {
    font-size: 3em;
  }
  .content__item-inner {
    font-size: 82%;
    padding: 4em 3em 2em;
  }
}
.navigation {
  .nav-links {
    .nav-previous,
    .nav-next {
      position: fixed;
      top: 50%;
      transform: translatY(-10vh);
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      background-color: rgb(170, 236, 255);
      overflow: hidden;
      a {
        height: 20vh;
        width: 3em;
        display: block;
      }
    }
    .nav-previous {
      left: 0;
      transform: translateX(-1.4em);
      a {
        padding-left: 2em;
        text-align: right;
      }
      &:hover {
        transform: translateX(0);
      }
    }
    .nav-next {
      right: 0;
      transform: translateX(0.4em);
      a {
        padding-right: 2em;
        text-align: left;
      }
      &:hover {
        transform: translateX(-1em);
      }
    }
  }
}
