<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>poc may2016</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/flickity/dist/flickity.min.css" />
    <link rel="stylesheet" href="/bower_components/video.js/dist/video-js.css" />
    <link rel="stylesheet" href="/bower_components/videojs-caption/dist/videojs.caption.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {% block header %}
  {% endblock %}



  {% block content %}
  {% endblock %}



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/classie/classie.js"></script>
    <script src="/bower_components/eventie/eventie.js"></script>
    <script src="/bower_components/doc-ready/doc-ready.js"></script>
    <script src="/bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="/bower_components/matches-selector/matches-selector.js"></script>
    <script src="/bower_components/fizzy-ui-utils/utils.js"></script>
    <script src="/bower_components/get-style-property/get-style-property.js"></script>
    <script src="/bower_components/get-size/get-size.js"></script>
    <script src="/bower_components/unipointer/unipointer.js"></script>
    <script src="/bower_components/tap-listener/tap-listener.js"></script>
    <script src="/bower_components/unidragger/unidragger.js"></script>
    <script src="/bower_components/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="/bower_components/gsap/src/uncompressed/plugins/ScrollToPlugin.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addindicators.js"></script>
    <script src="/bower_components/video.js/dist/video.js"></script>
    <script src="/bower_components/videojs-youtube/dist/Youtube.min.js"></script>
    <script src="/bower_components/videojs-caption/dist/videojs.caption.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
